<section id="reviews">

<h2>Client Reviews</h2>

{% for r in reviews %}

<div class="service-box">

<p>{{ r.review }}</p>

<p>
{% for i in range(r.rating) %}
⭐
{% endfor %}
</p>

<b>- {{ r.name }}</b>

</div>

{% endfor %}

<div style="margin-top:20px;">

<a href="/reviews">
<button style="padding:10px 20px; margin-right:10px;">
Read All Reviews
</button>
</a>

<a href="/review">
<button style="padding:10px 20px;">
Write Review
</button>
</a>

</div>

</section>
